<!DOCTYPE html>
<html>
    <head>
        <title>mcv.space</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../asserts/css/uikit.min.css" />
        <script src="../asserts/js/uikit.min.js"></script>
        <script src="../asserts/js/uikit-icons.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="../asserts/js/vue.js"></script>
        <link rel="manifest" href="../manifest.json">
        <link rel="shortcut icon" href="/images/touch/128.png" type="image/png">
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>


    <body>
<div id="app">
                <div class="sider uk-background-secondary" style="position: fixed; width: 60px; height: 100%; left: 0; z-index: 999;">
                        <ul id="nav-ul-main" style="color: #fff; list-style: none; padding: none !important; font-size: 30px; float: right; margin-right: 5px; margin-top: 60px;">
                            <a href="/map"><li class="grey-hover"><i class="far fa-map" style="color: #fff"></i></li></a>
                            <a href="/map"><li class="grey-hover"><i  class="fas fa-comments " style="color: #fff"></i></li></a>
                            
                            <a href="/calendar"><li><i class="far fa-calendar-alt grey-hover" style="color: #fff"></i></li></a>
                            <a href="/calendar"><li><i class="fas fa-users grey-hover" style="color: #fff"></i></li></a>
                            <li><i class="fas fa-cog grey-hover" style="color: #fff"></i></li>

                                <li onclick="logOut()" style="position: absolute; bottom: 5px; left: 5px;"><i class="fas fa-sign-out-alt"></i></li>

                            
                        </ul>
                            
                            
            
                        </ul>
                    </div>
                        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" style="padding-left: 40px;" uk-grid>
                                <div>
                                    <div class="uk-background-muted">
                                            <img :src="photo_max" style="height: 300px; border-radius: 30px; margin-top: 30px;"> 
                                            <div style="padding: 30px">
                                                    
                                                    <progress id="js-progressbar" class="uk-progress uk-progress-warning" value="35" max="100" style="border-top: 2px solid #272727;border-right: 2px solid #272727"></progress>
                                                    <div>
                                                            <div class="uk-alert-success" uk-alert>
                                                                    <i class="fas fa-thumbs-up"></i> Голосовать  <i class="fas fa-plus-circle"></i> <i class="fas fa-minus-circle"></i> <br>
                                                                <i class="far fa-check-circle"></i> Проверен ||
                                                                <i class="fas fa-star-half"></i><span class="uk-badge" style="background-color: #32d296">30%</span>
                                                                <br>
                                                                <i class="fas fa-comment-alt"></i> Читать отзывы
                                                            </div>
                                                        </div>
                                            </div> 
                                            
                                            <div style="text-align: center">
            
                                                    <div id="vk-profile-card" class="uk-card uk-card-primary uk-card-body">
                                                            <h3 class="uk-card-title">{{first_name}} {{last_name}}</h3>
                                                            <label>Languages:</label>
                                                            <span v-if="personal">
                                                            <li v-for="l in personal.langs">
                                                                    {{ l }}
                                                                  </li></span><br>
                                                            <label>Proffesions:</label>
                                                            <li v-for="c in career">
    {{ c.position }}
  </li>
                                                            <br>
                                                            <label class="bbb">Education:</label>
                                                            <li v-if="university_name"> Университет: {{university_name}} </li>
                                                            <li v-if="faculty_name"> Факультет: {{faculty_name}} </li>
                                                            <li v-if="graduation"> Год Выпуска: {{graduation}} </li>
                                                            <li v-if="education_form"> Форма: {{education_form}} </li>
<br>
                                                            <label>Lives in:</label> {{city.title}}<br>
                                                        </div>
                                                        
                                                        <div class="uk-card uk-card-secondary uk-card-body">
                                                                <label>Please add your next city to work in:</label>
                                                                <div class="uk-margin">
                                                                        <input id="lcity" class="uk-input" type="text" placeholder="" v-bind:value="city.title" >
                                                                    </div>
                                                                    <p uk-margin>
                                                                            <a class="uk-button uk-button-default" href="#">Добавить себя на карту</a>
                                                                            <a v-on:click="lookToCity" class="uk-button uk-button-default" >Посмотреть</a>
                                                                    </p>
                                                        </div>
                                            </div>
            
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-padding uk-light" style="background: #333; min-height: 100vh;">
                                        <legend class="uk-legend"> Работа </legend>
                                        <legend class="uk-legend"> <i class="fas fa-plus-circle"></i> </legend>


                                    </div>
                                    
                                </div>
                                <div>
                                    <div class="uk-background-secondary uk-padding uk-light" style="min-height: 100vh">
                                        <legend class="uk-legend"> Проекты </legend>
                                        <legend class="uk-legend"> <i class="fas fa-plus-circle"></i> </legend>

            
                                        
                                    </div>
                                    <div style="margin-top: 100px; margin-bottom: 100px;">

                                            <legend class="uk-legend"> Здесь пока нет отзывов о работе. <i class="fas fa-exclamation-triangle"></i> </legend>
                                     </div>
                                </div>
                            </div>
        </div>

      
                
    </div>
            </body>
</html>


<script>
        let query_url = {}
    let ul = window.location.href
    let ul_ar = ul.split('/');
    let uri = ul_ar[ul_ar.length - 1]
    let data_url_str = uri.split('&');
    for(var i = 0; i < data_url_str.length; i++) {
        let q = data_url_str[i].split('=');
        query_url[q[0]] = q[1]
    }
      if ( ul.indexOf('sign_up') != -1) {
        this.dsign = false;
        UIkit.switcher("#sw1").show(1);
      }
    query = query_url;

function setData(dataObj) {
    console.log(dataObj)

    var safeData = {
        "university_name": "",
        "faculty_name":"",
        "graduation":"",
        "education_form":""
    }
    const vm = new Vue({
        el: "#app",
        data: Object.assign(safeData, dataObj),
        methods: {
            lookToCity: function(){
                window.location = '/map?type=find&city=' + document.getElementById("lcity").value
            }
        } 
    })
}

function getINFO(link) {
                var callbackResponse = (document.URL).split("#")[1];
                var responseParameters = (callbackResponse).split("&");
                var parameterMap = [];
                for (var i = 0; i < responseParameters.length; i++) {
                    parameterMap[responseParameters[i].split("=")[0]] = responseParameters[i].split("=")[1];
                }
                if (parameterMap.access_token !== undefined && parameterMap.access_token !== null) {
                    jsonp(link, function(userInfo) {
                        userInfo = userInfo.response[0];
                        setData(userInfo);
                    });
                } else {
                    alert("Ошибка авторизации в ВК");
                }
                function jsonp(url, callback) {
                    var callbackName = 'jsonp_callback_' + Math.round(100000 * Math.random());
                    window[callbackName] = function(data) {
                        delete window[callbackName];
                        document.body.removeChild(script);
                        callback(data);
                    };

                    var script = document.createElement('script');
                    script.src = url + (url.indexOf('?') >= 0 ? '&' : '?') + 'callback=' + callbackName;
                    document.body.appendChild(script);
                }
            }

    if (query["#access_token"] != undefined) {
        Cookies.set('auth_link', window.location.href, { expires: 7 });
        var getDataUrl = 'https://api.vk.com/method/users.get?client_id=5530985&params[user_ids]='+ query['user_id']+'&v=5.52&fields=photo_id,%20sex,%20bdate,%20city,%20country,%20home_town,%20has_photo,%20photo_50,%20photo_100,%20photo_200_orig,%20photo_200,%20photo_400_orig,%20photo_max,%20photo_max_orig,%20online,%20domain,%20has_mobile,%20contacts,%20site,%20education,%20universities,%20schools,%20status,%20last_seen,%20followers_count,%20common_count,%20occupation,%20nickname,%20relatives,%20relation,%20personal,%20connections,%20exports,%20wall_comments,%20activities,%20interests,%20music,%20movies,%20tv,%20books,%20games,%20about,%20screen_name,%20maiden_name,%20career&access_token=' + query["#access_token"];
        console.log(getDataUrl)
        getINFO(getDataUrl)

            
    } else {
        if (Cookies.get('auth_link') != undefined) {
                window.location = Cookies.get('auth_link')
            } else {
                window.location = '/'
            }
    }
</script>
<script>
    function logOut() {
        Cookies.remove('name');
        window.location = '/'
    }
</script>
<link rel="stylesheet" href="../asserts/css/my.css">







