<!DOCTYPE html>
<html>
    <head>
        <title>Карта mcv.space</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../asserts/css/uikit.min.css" />
        <script src="../asserts/js/uikit.min.js"></script>
        <script src="../asserts/js/uikit-icons.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="../asserts/js/vue.js"></script>
        <link rel="manifest" href="../manifest.json">
        <link rel="shortcut icon" href="/images/touch/128.png" type="image/png">
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>
    <body>
<div id="app">
                <div class="sider uk-background-secondary" style="position: fixed; width: 60px; height: 100%; left: 0; z-index: 999;">
                        <li><img src="/images/touch/128.png" style="width:80%; margin-left: 10%;" alt=""></li>
                        <ul id="nav-ul-main" style="color: #fff; list-style: none; padding: none !important; font-size: 30px; float: right; margin-right: 5px; margin-top: 60px;">
                            
                            <a href="/map"><li class="grey-hover"><i class="far fa-map" style="color: #fff"></i></li></a>
                            <a href="/map"><li class="grey-hover"><i  class="fas fa-comments " style="color: #fff"></i></li></a>
                            
                            <a href="/calendar"><li><i class="far fa-calendar-alt grey-hover" style="color: #fff"></i></li></a>
                            <a href="/calendar"><li><i class="fas fa-users grey-hover" style="color: #fff"></i></li></a>
                            <li><i class="fas fa-cog grey-hover" style="color: #fff"></i></li>
                            <a href="/">
                                <li style="position: absolute; bottom: 5px; left: 5px;"><i class="fas fa-sign-out-alt"></i></li>
                            </a>
                            
                        </ul>
                            
                            
            
                       
                    </div>


                        

                    <div id="add-job" uk-modal>
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-default" type="button" uk-close></button>
                                <div class="uk-modal-header">
                                    <h2 class="uk-modal-title">Добавить работу</h2>
                                </div>
                                <div class="uk-modal-body">
                                        <form>
                                                <fieldset class="uk-fieldset">
                                                        <div class="uk-margin" >
                                                                <input class="uk-input" type="text" placeholder="Вакансия" v-model="vacancy">
                                                            </div>
                                                    <label><input class="uk-checkbox" type="checkbox" checked v-model="iscomp"> Организация</label>

                                                    <div class="uk-margin" v-if="iscomp">
                                                        <input class="uk-input" type="text" placeholder="Название организации" v-model="comp">
                                                    </div>

                                                    <div class="uk-margin">
                                                            <label>Категория</label>
                                                            <select class="uk-select" v-model="vaccat">
                                                                <option value="0">Без Категории</option>
                                                                <option value="1">IT разработки</option>
                                                                <option value="2">Клининг, фиксинг и т.д.</option>
                                                                <option value="3">Авто (Такси, грузоперевозки)</option>
                                                                <option value="4">Менеджер, Ресепшен</option>
                                                                <option value="5">Охрана</option>
                                                            </select>

                                                        </div>
                                            <br>
                                                    <label><input class="uk-checkbox" type="checkbox" v-model="isdate"> Не свободная дата (Определенное время)</label>
                                                    <div class="uk-margin" v-if="isdate">
                                                            <input class="uk-input" type="text" placeholder="Начало" v-model="date1"> <br>
                                                            <input class="uk-input" type="text" placeholder="Окончание" v-model="date2">
                                                        </div>
                                            
                                                    <div class="uk-margin">
                                                        <textarea class="uk-textarea" rows="5" placeholder="Описание" v-model="about_job"></textarea>
                                                    </div>
                                            
                                            
                                                    <div class="uk-margin">
                                                        <label>Оплата труда</label>
                                                        <input class="uk-range" type="range" value="2" min="0" max="100000" step="1" v-model="money">
                                                    </div>

                                                    <span class="uk-badge">{{money}}</span>
                                            
                                                </fieldset>
                                            </form>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отменить</button>
                                    <button v-on:click="newVacancy" class="uk-button uk-button-primary" type="button">Сохранить</button>
                                </div>
                            </div>
                        </div>





</div>
                            </body>

                          
                                    
                
                               <div id="map-container" style="position: relative; padding-left:60px; width:100vw;  overflow: hidden;">
                                     
                                    <div id="geoguess" class="uk-background-secondary" >
                                            <h3 style="color: #eee;">
                                                I <select v-on:change="clearMarks" id="side-sw" v-model="selectedType"> 
                                                    <option val="0"> am looking for a job</option>
                                                    <option v-on:click="clearMarks" val="1" style="text-align: center"> am hiring in </option>
                                                    <option val="2"> will see both options</option>
                                                </select> in <input v-on:change="lookupcity" type="text" v-model="selCity">
                                            </h3>
                                        </div>
                                    <div id="map" style="width: 100vw; height: 100vh; overflow: hidden;"></div>
                            </div>
                           












                </html>
                
                
                <script>
                

                    </script>
                    
                    <script>
                        var inppos;
                        function onMapClick(e) {
                            UIkit.modal("#add-job").show();
                            var ltt = e.latlng;
                            console.log(ltt);
                            inppos = [ltt.lat, ltt.lng];
                            console.log(inppos);
}



                                        var mymap = L.map('map').setView([59.505, -0.09], 13);
                                        mymap.on('click', onMapClick);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(mymap);


                
                
                    window.iconMap = [L.icon({
                        iconUrl: '/markers/0.png',
                        iconSize:     [0, 0], // size of the icon
                        iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
                    }), L.icon({
                        iconUrl: '/markers/1.png',
                        iconSize:     [45, 45], // size of the icon
                        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
                    }), L.icon({
                        iconUrl: '/markers/2.png',
                        iconSize:     [45, 45], // size of the icon
                        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
                    }), L.icon({
                        iconUrl: '/markers/3.png',
                        iconSize:     [45, 45], // size of the icon
                        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
                    }), L.icon({
                        iconUrl: '/markers/4.png',
                        iconSize:     [45, 45], // size of the icon
                        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
                    }), L.icon({
                        iconUrl: '/markers/user_45.png',
                        iconSize:     [45, 45], // size of the icon
                        iconAnchor:   [12, 12], // point of the icon which will correspond to marker's location
                        popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
                    })];
                
                
                
                if (navigator.geolocation) {
                    console.log("yes")
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        console.log(pos)
                        L.marker([pos.lat, pos.lng]).addTo(mymap)
                            .bindPopup("<b>Вы здесь!</b><br />").openPopup();
                    }, function() {
                
                    });
                } else {
                    console.log("no")
                
                    handleLocationError(false, infoWindow, mymap.getCenter());
                }
                
                
                
                    
                        let mapMarkers = [];
                            
                
                        var dataCity = {
                          "Санкт-Петербург": [59.937461, 30.313152],
                          "Los-Angeles": [34.065782, -118.247933],
                          "Москва": [55.746417, 37.622377],
                          "Tel Aviv": [32.092705, 34.775466]
                      };
                
                
                
                let vm = new Vue({
                            el: "#app",
                            data: {
                                vaccat: 0,
                                vacancy: '',
comp: '',
about_job: '',
date1: '',
date2: '',
                                iscomp: true,
                                isdate: false,
                                lat: 0,
                                lng: 0,
                                money: 10000,
                                selCity: "Санкт-Петербург",
                                dsign: true,
                                test: "test",
                                lang: "en",
                                vk: {
                                    image: false
                                }
                
                            },
                            methods: {
                                newVacancy: () => {
                                    var date = [vm.date1, vm.date2]
                                    var data = {
                                        "id": Date.now(),
                                        "name": vm.comp,
                                        "about": vm.about_job,
                                        "vacancy": vm.vacancy,
                                        "geoloc": inppos,
                                        "cat": vm.vaccat,
                                        "date": date
                                    }
                                    var url = "http://localhost:3000/jobs";
                                    console.log(data);
                                    $.post(url, data).done(function(r){
                                        console.log(r)
                                        UIkit.modal("#add-job").hide();
                                    })
//                                     fetch(url, {
//     method: 'post',
//     body: JSON.stringify(data)
//   }).then(function(response) {
//     return response
//   }).then(function(data) {
//     console.log(data);
//     UIkit.modal("#add-job").hide();
//   });
                                },
                                signcard: () => {
                                    vm.dsign = false;
                                    UIkit.switcher("#sw1").show(1);
                                },
                                dcard: () => {
                                    vm.dsign = true;
                                    UIkit.switcher("#sw1").show(0);
                                },
                                vkLogin: () => {
                                    window.open(vkAuthLink,"menubar=1,resizable=1,width=350,height=250");
                                },
                                setRussian: () => {
                                    vm.lang = "ru"
                                },
                                setEnglish: () => {
                                    vm.lang = "en"
                                },
                                clearMarks: () => {
                                    console.log('clear')
                
                                    for(var i = 0; i < mapMarkers.length; i++){
                                        mymap.removeLayer(mapMarkers[i]);
                                    }
                                },
                                lookupcity: () => {
                                    if (dataCity[vm.selCity] != undefined) {
                                        mymap.panTo(dataCity[vm.selCity])
                                    }
                                }
                            },
                            computed: {
                                phsign: function () {
                                    return this.lang
                                }
                            }, 
                            watch: {
                                behav: function(newVal) {
                                    console.log(newVal)
                                }
                            }
                        })
                    </script>
                
                
                
                <script>
                function drawVacanies(map) {
                    fetch('http://localhost:3000/jobs')
                            .then(function(response) {
                                  return response.json();
                                  
                             })
                            .then(function(data) {
                                mapMarkers = []
                              for(var i = 0; i < data.length; i++){
                  
                  var lat = data[i]['geoloc[]'][0];
                  var lng = data[i]['geoloc[]'][1];
                  var popupContent = "<b>" + data[i]['name'] + "</b> - " + data[i]['vacancy'] + "<br />";
                  
                  if (data[i]['about'] != null && data[i]['about'] != undefined){
                      popupContent += data[i]['about'] + "<br />";
                  }
                  if (data[i]['phone'] != null && data[i]['phone'] != undefined){
                      popupContent += "<a href='tel:" + data[i]['phone'] + "'>" + data[i]['phone'] + "</a><br />";
                  }
                  if (data[i]['address'] != null && data[i]['address'] != undefined){
                      popupContent += data[i]['address'];
                  }
                  
                  var mark = L.marker([lat, lng], {icon: window.iconMap[data[i].cat]});
                    mapMarkers.push(mark);
                  mark.addTo(map)
                      .bindPopup(popupContent);
                  }
                  
                            })
                }
                function drawPeople(map) {
                    fetch('http://localhost:3000/workers')
                            .then(function(response) {
                                  return response.json();
                                  
                             })
                            .then(function(data) {
                                mapMarkers = []
                              for(var i = 0; i < data.length; i++){
                  
                  var lat = data[i]['geoloc[]'][0];
                  var lng = data[i]['geoloc[]'][1];
                  var popupContent = "<b>" + data[i]['sname'] + "</b> - " + data[i]['fname'] + "<br />";
                  
                //   if (data[i]['about'] != null && data[i]['about'] != undefined){
                //       popupContent += data[i]['about'] + "<br />";
                //   }
                //   if (data[i]['phone'] != null && data[i]['phone'] != undefined){
                //       popupContent += "<a href='tel:" + data[i]['phone'] + "'>" + data[i]['phone'] + "</a><br />";
                //   }
                //   if (data[i]['address'] != null && data[i]['address'] != undefined){
                //       popupContent += data[i]['address'];
                //   }
                  
                  var mark = L.marker([lat, lng], {icon: window.iconMap[5]});
                    mapMarkers.push(mark);
                  mark.addTo(map)
                      .bindPopup(popupContent);
                  }
                  
                            })
                }
                drawVacanies(mymap)
                  
                          </script>
</div>
            </body>
</html>


<script>
        let query_url = {}
    let ul = window.location.href
    let ul_ar = ul.split('/');
    let uri = ul_ar[ul_ar.length - 1]
    let data_url_str = uri.split('&');
    for(var i = 0; i < data_url_str.length; i++) {
        let q = data_url_str[i].split('=');
        query_url[q[0]] = q[1]
    }
      if ( ul.indexOf('sign_up') != -1) {
        this.dsign = false;
        UIkit.switcher("#sw1").show(1);
      }
    query = query_url;

function setData(dataObj) {
    console.log(dataObj)
    const vm = new Vue({
        el: "#app",
        data: Object.assign(dataObj),
        methods: {
            lookToCity: function(){
                window.location = '/map?type=find&city=' + document.getElementById("lcity").value
            }
        } 
    })
}

</script>
<link rel="stylesheet" href="/asserts/css/my.css">







