.map-container {
    width: 100vw;
    overflow: hidden;
}
#mapp {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.m-w-100{
    max-width: 100%;

}
#home1 {
    padding-top: 0 !important;
}

#geoguess {
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    color: #eee;
}
#geoguess h3 input {
    background: none !important;
    border: none !important;
    border-bottom: 2px solid white !important;
    color: #eee;
    font-size: 20px;
}
#geoguess h3 select {
    background: #272727;
    color: #eee;
    font-size: 20px;
    border: none !important;
}
#social-login, #social-regs {
    font-size: 25px !important;
}
#social-regs span, #social-login span {
    margin: 10px !important;
}
#map-container {
    width: 100%;
    overflow-y: hidden;
    position: relative;
}
#mapp {
    overflow-y: hidden;
}

#app {
    background-color: #f8f8f8;
}

.en-pointer {
    cursor: pointer;
}

#container-profile {
    max-width: 960px;
    display: inline-block;   
}

.border2 {
    border: 2px solid #333 !important;
}
.wh-sh-in {
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
}
#profile-cover img {
    max-width: 100%;
    overflow: hidden;
}

.wh-sh {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
}

.circle {
    border-radius: 50%;
    background: #272727;
    border: 1px solid white;
}

#nav-ul-main ul {
    padding: 0 !important;
}

#nav-ul-main ul li {
    padding: 0;
}

.grey-hover {
    color: #fff !important;
}
.grey-hover:hover {
    color: #333;
}

#nav-ul-main a {
    color: #fff !important;
}